<a href="https://colab.research.google.com/github/ayan-the-analyst/all-about-python/blob/main/py_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.
dic = {x:x**2 for x in range(1,11)}
print(dic)

In [ ]:
dic = {x:x**2 for x in range(1,11)}
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

In [ ]:
print(dic[5])
print(dic.keys())

25
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

In [ ]:
dic[11] = 121
del dic[1]
print(dic)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

In [ ]:
for key, value in dic.items():
    print(key, value)

2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

In [ ]:
cd = {x:x**3 for x in range(1,11)}
print(cd)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

In [ ]:
s = {x:x**2 for x in range(1,6)}
d = {x:x**2 for x in range(6,11)}
s.update(d)
print(s)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

In [ ]:
nd = [
    {
        'name': 'John',
        'age': 20,
        'grades': {
            'math': 90,
            'science': 85,
            'english': 95
        }
    },
]
print(nd)

[{'name': 'John', 'age': 20, 'grades': {'math': 90, 'science': 85, 'english': 95}}]

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

In [ ]:
df = {x: [x*i for i in range(1,6)] for x in range(1,6)}
print(df)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

In [ ]:
jd = {x: (x, x**2) for x in range(1,6)}
print(jd)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

In [ ]:
d = {x:x**2 for x in range(1,6)}
t = list(d.items())
print(t)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

In [ ]:
od = {x:x**2 for x in range(1,11) if x%2 == 0}
od

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

In [ ]:
from collections import defaultdict

d = defaultdict(list)
d['a'].append(1)
d['a'].append(2)
d['b'].append(3)
d['b'].append(4)

print(d)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [3, 4]})

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

In [ ]:
def cstr(string):
    count = {}
    for char in string:
        if char in count:
            count[char] += 1
        else:
            count[char] = 1
    return count
string = "ayan"
print(cstr(string))

{'a': 2, 'y': 1, 'n': 1}

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [ ]:
import json

book = {
    'title': 'The Hitchhiker\'s Guide to the Galaxy',
    'author': 'Douglas Adams',
    'year': 1979,
    'genre': 'Science Fiction'
}

json_string = json.dumps(book, indent=4)
print(json_string)

{
    "title": "The Hitchhiker's Guide to the Galaxy",
    "author": "Douglas Adams",
    "year": 1979,
    "genre": "Science Fiction"
}