<a href="https://colab.research.google.com/github/ayan-the-analyst/all-about-python/blob/main/py_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a list of the first 20 positive integers. Print the list.

In [2]:
ml = []
for i in range(1,21):
  ml.append(i)
print(ml)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Print the first, middle, and last elements of the list created in Assignment 1.

In [3]:
print(f"First element: {ml[0]}")
print(f"Middle element: {ml[len(ml)//2 - 1]}")
print(f"Last element: {ml[-1]}")

First element: 1
Middle element: 10
Last element: 20

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [11]:
for i in range(0,6):
  print(ml[i]," ")

for i in range(5,16):
  print(ml[i]," ")

for i in range(14,20):
  print(ml[i]," ")

1
2
3
4
5
6
6
7
8
9
10
11
12
13
14
15
16
15
16
17
18
19
20

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [12]:
sq_ml = [i**2 for i in range(1,11)]
print(sq_ml)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [14]:
eml = []
for i in range(0,len(ml)):
  if ml[i] % 2 == 0:
    eml.append(ml[i])
print(eml)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [20]:
import random
rml = [random.randint(1,50) for _ in range(0,10)]
print(rml)

rml.sort()
print(rml)

rml.sort(reverse=True)
print(rml)

rml = list(set(rml))
print(rml)

[15, 21, 21, 2, 9, 5, 50, 47, 29, 40]
[2, 5, 9, 15, 21, 21, 29, 40, 47, 50]
[50, 47, 40, 29, 21, 21, 15, 9, 5, 2]
[2, 5, 40, 9, 47, 15, 50, 21, 29]

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [21]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print("3x3 Matrix:")
for row in matrix:
    print(row)

element = matrix[1][2]
print(f"\nElement at second row, third column: {element}")

3x3 Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Element at second row, third column: 6

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [22]:
# Create a list of dictionaries representing students
students = [
    {'name': 'Alice', 'score': 85},
    {'name': 'Bob', 'score': 92},
    {'name': 'Charlie', 'score': 78},
    {'name': 'David', 'score': 95},
    {'name': 'Eve', 'score': 88}
]

print("Original list of students:")
for student in students:
    print(student)

# Sort the list of dictionaries by 'score' in descending order
sorted_students = sorted(students, key=lambda student: student['score'], reverse=True)

print("\nSorted list of students by score (descending):")
for student in sorted_students:
    print(student)

Original list of students:
{'name': 'Alice', 'score': 85}
{'name': 'Bob', 'score': 92}
{'name': 'Charlie', 'score': 78}
{'name': 'David', 'score': 95}
{'name': 'Eve', 'score': 88}

Sorted list of students by score (descending):
{'name': 'David', 'score': 95}
{'name': 'Bob', 'score': 92}
{'name': 'Eve', 'score': 88}
{'name': 'Alice', 'score': 85}
{'name': 'Charlie', 'score': 78}

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [31]:
# def transpose_matrix(matrix):

#     transposed = []
#     for i in range(len(matrix[0])):
#         new_row = []
#         for j in range(len(matrix)):
#             new_row.append(matrix[j][i])
#         transposed.append(new_row)
#     return transposed

# # Example 3x3 matrix
# original_matrix = [
#     [1, 2, 3],
#     [4, 5, 6],
#     [7, 8, 9]
# ]

# print("Original Matrix:")
# for row in original_matrix:
#     print(row)

# # Get the transposed matrix
# transposed_m = transpose_matrix(original_matrix)

# print("\nTransposed Matrix:")
# for row in transposed_m:
#     print(row)

original_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]
transposed_matrix = []
for i in range(0, len(original_matrix[0])):
  n_row = []
  for j in range(0,len(original_matrix)):
    n_val = original_matrix[j][i]
    n_row.append(n_val)
  transposed_matrix.append(n_row)
print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [32]:
n_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]
f_list = []
for i in range(len(n_list)):
  for j in range(len(n_list[i])):
    f_list.append(n_list[i][j])
print(f_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]