<a href="https://colab.research.google.com/github/ayan-the-analyst/all-about-python/blob/main/py_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a set with the first 10 positive integers. Print the set.

In [ ]:
my_set = set(range(1, 11))
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [ ]:
my_set.add(11)
my_set.remove(1)
print(my_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [ ]:
s1 = set(range(1,6))
s2 =set(range(2,11,2))
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [ ]:
squared_set = {x**2 for x in range(1, 11)}
print(squared_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [2]:
my_set = set(range(1, 11))
even_numbers_set = {x for x in my_set if x % 2 == 0}
print(even_numbers_set)

{2, 4, 6, 8, 10}

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set

In [3]:
list_with_duplicates = [1, 2, 2, 3, 4, 4, 5]
my_set_with_no_duplicates = set(list_with_duplicates)
print(my_set_with_no_duplicates)

{1, 2, 3, 4, 5}

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [4]:
set1 = set(range(1, 6))
set2 = set(range(1, 4))

is_subset = set2.issubset(set1)
is_superset = set1.issuperset(set2)

print(f"Is set2 a subset of set1? {is_subset}")
print(f"Is set1 a superset of set2? {is_superset}")

Is set2 a subset of set1? True
Is set1 a superset of set2? True

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [5]:
fset = frozenset(range(1, 6))
print(fset)

frozenset({1, 2, 3, 4, 5})

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [6]:
mset = set(range(1,6))
mlist = list(mset)
mlist.append(6)
mset = set(mlist)
print(mset)

{1, 2, 3, 4, 5, 6}

Create a dictionary with set keys and integer values. Print the dictionary.

In [7]:

my_dict_with_frozenset_keys = {
    frozenset({1, 2}): 10,
    frozenset({'a', 'b'}): 20,
    frozenset({5}): 30
}

print(my_dict_with_frozenset_keys)

{frozenset({1, 2}): 10, frozenset({'b', 'a'}): 20, frozenset({5}): 30}

Create a set and iterate over the elements, printing each element.

In [8]:
mset = {1, 2, 3, 4, 5}
for element in mset:
    print(element)

1
2
3
4
5

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [9]:
my_set = {1, 2, 3, 4, 5}
print(f"Initial set: {my_set}")

while my_set:
    removed_element = my_set.pop()
    print(f"Removed {removed_element}. Current set: {my_set}")

Initial set: {1, 2, 3, 4, 5}
Removed 1. Current set: {2, 3, 4, 5}
Removed 2. Current set: {3, 4, 5}
Removed 3. Current set: {4, 5}
Removed 4. Current set: {5}
Removed 5. Current set: set()

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [10]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 6, 7, 8}

Create a set and test if certain elements are present in the set. Print the results.

In [11]:
set1 = {1,2,3,4,5,6}
if 1 in set1:
  print(f"Yes, 1 is there")

Yes, 1 is there

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [12]:
tset = {(), (1, 2), (3, 4), (5, 6)}
print(tset)

{(1, 2), (3, 4), (5, 6), ()}