<a href="https://colab.research.google.com/github/ayan-the-analyst/all-about-python/blob/main/py_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a tuple with the first 10 positive integers. Print the tuple.

In [ ]:
mt = (range(1,11))
mt

range(1, 11)

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [ ]:
print(mt[0])
print(mt[4])
print(mt[len(mt)-1])

1
5
10

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [ ]:
for i in range(0,3):
  print(mt[i])
for i in range(len(mt)-3,len(mt)):
  print(mt[i])
for i in range(2,6):
  print(mt[i])

1
2
3
8
9
10
3
4
5
6

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
nt = ((1,2,3),(4,5,6),(7,8,9))
nt
nt[1][2]

6

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
mt = (1,2,2,3,4,5,5,6)
mt.count(2)
mt.index(2)

1

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
ft = (1,2,3,4,5)
a,b,c,d,e = ft
print(a,b,c,d,e)

1 2 3 4 5

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [ ]:
gl = [x for x in range(1,6)]
gf = tuple(gl)
gf

(1, 2, 3, 4, 5)

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:
tuple_of_tuples = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(tuple_of_tuples)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [17]:
mt = (x for x in range(1,6))
mt = list(mt)
mt.append(6)
mt = tuple(mt)

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [18]:
st = ("A","y","a","n")
stri = ""
for i in st:
  stri += i
stri

'Ayan'

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [19]:
dt = ((1,2),(3,4),(5,6))
dt = dict(dt)
dt

{1: 2, 3: 4, 5: 6}

Create a nested tuple and iterate over the elements, printing each element.

In [23]:
def print_nested_tuple(tup):
    for element in tup:
        if isinstance(element, tuple):
            print_nested_tuple(element)
        else:
            print(element)

nt = (1,(2,(3,(4,(5,(6))))))
print_nested_tuple(nt)

1
2
3
4
5
6

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [24]:
dt = (1,1,2,3,3,4,4,5,5,5,6)
wds = set(dt)
wds

{1, 2, 3, 4, 5, 6}

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [25]:
ogt = (34,2,45,7,89,5)
rsum = sum(ogt)
rmin = min(ogt)
rmax = max(ogt)
print(rsum,rmin,rmax)

182 2 89